@charset "utf-8";

/*--------------------------------------*/
/*              Basic rules             */
/*--------------------------------------*/

:root {
    --app-white: #fff;
    --app-blue: #00549A;
    --app-light-blue:#5490cd;
    --app-dark-blue: #00FFFF;
    --app-background-color: #001f3d;
    --app-line-border-color: #ddd;
    --app-gray: #f9f9f9;
    --app-items-border-color: #000;
    --app-detail-font-color: #555;
    --app-detail-primary-font-color: #00549A;
    --app-detail-button-hover-bg-color: #00549a;
    --app-detail-button-bg-color: #003778;
    --app-detail-button-font-color: #fff;
    --app-footer-bg-color: #655f5f;
    --app-footer-height: 70px;
    --app-footer-socials-color: #001f3d;
    --app-body-bg: #333333;
    --app-product-border: #f5f5f5;
}

.container {
    width: min(100% - 32px, 960px);
    margin-inline: auto;
}

body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    font-family: "poppins", sans-serif;
    background-color: #f6f7f9;
    font-weight: 400;
    letter-spacing: 0.5px;
    color: var(--app-white);
    overflow-x: hidden;
}

main {
    flex: 1;
}

.flex {
    display: flex;
}

.grid {
    display: grid;
}

.flex-between {
    justify-content: space-between;
}

.flex-center {
    justify-content: center;
}

a {
    text-decoration: none;
}

/*--------------------------------------*/
/*                Header                */
/*--------------------------------------*/

header{
    position: relative;
    overflow: visible;
    background-color: var(--app-footer-socials-color);
    align-items: center;
    z-index: 1;

    .sky-logo {
        height: 60px;
    }

    .logo {
        font-size: 40px;
        line-height: 55px;
        font-family: "Exo 2", sans-serif;
        font-optical-sizing: auto;
        font-weight: 400;
        font-style: italic;
        color: var(--app-white);
        letter-spacing: 2px;
        cursor: pointer;   
    }

    .menu a{
        font-size: 17px;
        font-weight: 500;
        font-variant: tabular-nums;
        color: var(--app-white);
        cursor: pointer;
    }

    .menu a:hover {
        color: var(--app-light-blue);
        transition: all 0.25s ease-in-out;
    }

    nav {
        align-items: center;
        display: inline-block;
        
        .login {
            font-size: 15px;
            font-weight: 500;
            line-height: 15px;
            text-decoration: none;
            font-variant: tabular-nums;
            color: var(--app-white);
            border: 1px solid var(--app-white);
            border-radius: 25px;
            padding: 8px 12px;
        }

        .login:hover {
            color: var(--app-blue);
            background-color: var(--app-white);
            transition: all 0.25s ease-in-out;
        }
    }

    /*--------------------------------------*/
    /*           Dropdown menu              */
    /*--------------------------------------*/

    .dropdown {
        position: relative;
        z-index: 1;
        display: inline-block;
    }

    .dropdown-btn {
        background-color: transparent;
        color: var(--app-white);
        font-size: 25px;
        border: none;
        width: 40px;
        height: 60px;
        cursor: pointer;
        padding: 0px;
    }
    
    .dropdown-btn:hover{
        color: var(--app-light-blue);
        background-color: transparent;
    }

    .dropdown-btn i {
        pointer-events: none; 
    }

    .dropdown-content {
        display: none;
        position: absolute;
        background-color: var(--app-footer-socials-color);
        min-width: 160px;
        z-index: 2;
        border-radius: 5px;
        left: -120px;
    }

    .dropdown-content a {
        color: var(--app-white);
        font-size: 16px;
        font-weight: 600;
        padding: 12px 16px;
        text-decoration: none;
        display: block;   
    }

    .dropdown-content a:hover {
        color: var(--app-light-blue);
    }
    
    .show {
        display: block;
    }
}

/*--------------------------------------*/
/*                Footer                */
/*--------------------------------------*/

footer {
    background-color: var(--app-footer-socials-color);
    height: var(--app-footer-height);
    font-size: 16px;
    color: var(--app-gray);

    ul {
        display: flex;

        li {
            line-height: var(--app-footer-height);
            padding: 0 15px;
        }
    }

    p {
        line-height: var(--app-footer-height);
    }
}

.fa-brands {
    color: var(--app-gray);
    font-size: 20px;
}

/*--------------------------------------*/
/*             Login page               */
/*--------------------------------------*/

.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - var(--app-footer-height));
    color: var(--app-items-border-color);
}

.left-section {
    flex: 1;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 40px;

    p {
        margin: 10px 0 50px 0;
        font-size: 17px;
        font-weight: 500;
    }

    h1 {
        font-size: 35px;
        font-family: "Exo 2", sans-serif;
        color: var(--app-detail-button-bg-color);
    }
}

.form-group {
    margin-top: 10px;
    font-size: 20px;
    font-weight: 500;
    color: var(--app-detail-button-bg-color);
    
    input {
        border: 1px solid var(--app-line-border-color);
        border-radius: 5px;
        height: 40px;
    }

    input::placeholder{
        font-size: 15px;
        padding:0 10px;
    }
}
.error-message {
    color: red;
    font-size: 15px;
    min-height: 20px; 
    margin-top:5px;
    visibility: hidden;
}

.right-section {
    background: url('../img/login.jpg') no-repeat center center/cover;
    position: relative;
    flex: 1;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.checkbox-container {
    display: flex;
    justify-content:center;
    gap: 30px;
    width: 100%;
    margin-top: 40px;
    font-size: 15px;
}

.button-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    width: 100%;
    margin-top: 40px;
    color: var(--app-items-border-color);
}

.login-btn {
    background-color: var(--app-blue);
    color: var(--app-white);
    padding: 10px 45px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.2s ease, background-color 0.2s ease;
}

.create-btn {
    font-weight: 600;
    background-color: var(--app-white);
    color: var(--app-blue);
    padding: 10px 10px;
    border: 2px solid var(--app-blue);
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.2s ease, background-color 0.2s ease;
}

.btn:hover {
    transform: scale(1.05);
}


/*--------------------------------------*/
/*          Common Media Query          */
/*--------------------------------------*/

@media screen and (min-width: 922px) {
    div .dropdown {
        display: none;
    }

    div .menu {
        display: flex;
        gap: 20px; 
        align-items: center;
    }
}

@media screen and (max-width: 921px) {
    div .menu { 
        display: none;
    }

    div .dropdown { 
        display: inline-block;
    }

    nav {
        margin-right: 20px;
    }
}


@media screen and (max-width: 768px) {
    footer .container {
        display: flex; 
        flex-direction: column;
        align-items: center; 
        text-align: center; 
    }

    .socials ul {
        display: flex;
        justify-content: center; 
        padding: 0;
        margin: 0;
        list-style: none;
    }

    .socials ul li {
        margin: 0 10px;
    }

    .copyright {
        display: none; 
        margin-top: 15px;
    }
}

